<h1>Listing students</h1>

<table>
  <thead>
    <tr>
      <th>Full name</th>
      <th>Age</th>
      <th>Bio</th>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.full_name %></td>
        <td><%= student.age %></td>
        <td><%= student.bio %></td>
        <td><%= student.title %></td>
        <!--<td><%# link_to 'Show', student %></td>This line can be uncommented if using resources :students in the routes.rb-->
        <td><%= link_to 'Show', student_path(student) %></td><!--If you are specifying the routes manually, you must use _path(object)-->
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
